<section class="">
  <h2 class="title-h3 d-flex justify-content-center">
    Meilleurs destinations du moment
  </h2>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              style="display: block"
              src="assets/img/trip/toulouse-france.jpg"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text">
                Toulouse - France. Voyez la vie en Rose en toute simplicité.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 59€</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="assets/img/trip/kyoto-japan.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">
                Kyoto - Japon. Admirez les cerisiers en fleur pour ce printemps
                2022.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 730€</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="assets/img/trip/nosy-be.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">
                Nosy-Be - Madagascar. Sable fin et mer turqoise, plage
                magnifique.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 699€</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="assets/img/trip/auckland.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">
                Auckland - Nouvelle-Zélande. Partez à la découverte de la Terre
                du Milieu.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 699€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="assets/img/trip/los-angeles.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">
                Los Angeles USA. Distination idéale pour les amoureux du 7éme
                Art.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 549€</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="assets/img/trip/kilimandjaro.jpg"
              data-holder-rendered="true"
              style="display: block"
            />
            <div class="card-body">
              <p class="card-text">
                Arusha Tanzanie. Comptemplez l'immensité du Mont Kilimandjaro.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/liste-vols"
                    routerLinkActive="active"
                  >
                    Voir toutes nos destinations
                  </button>
                </div>
                <small class="text-muted">* à partir de 900€</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
