<main id="main" class="padding10">
  <section>
    <div *ngIf="error" class="alert alert-danger">
      erreur d'authentification
    </div>
    <div
      class="modal-content page-heading padding10 d-flex justify-content-center align-content-center"
      role="menu"
      action="/connexion"
    >
      <div class="modal-header">
        <h2 class="modal-title">
          <div style="vertical-align: inherit">Connectez-vous sur RudyAIR</div>
        </h2>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="save()" [formGroup]="form">
          <div>
            <div class="form-group">
              <label for="login"><b>Email</b></label>
              <input
                [(ngModel)]="emailConnexion"
                type="email"
                placeholder="Entrez votre adresse mail"
                class="form-control"
                formControlName="login"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="
                  form.controls['login'].dirty && form.controls['login'].invalid
                "
              >
                E-mail obligatoire
              </div>
            </div>

            <div class="form-group">
              <label for="mdp"><b>Mot de passe</b></label>
              <input
                type="password"
                placeholder="Entrez votre mot de passe"
                class="form-control"
                formControlName="password"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="
                  form.get('password')?.dirty && form.get('password')?.invalid
                "
              >
                Renseignez un mot de passe
              </div>
            </div>
            <div class="form-group">
              <input
                (click)="storeCompteType()"
                type="submit"
                class="btn btn-login"
                data-dismiss="modal"
                [disabled]="form.invalid"
                value="Se connecter"
                routerLink="/accueil"
                routerLinkActive="active"
              />

              <label>
                <input type="checkbox" name="remember" /> Rester connecté<span
                  class="mdp"
                  ><a routerLink="/connexion">Mot de passe oublié ?</a></span
                >
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-start">
        <div class="form-modal-footer">
          <div style="vertical-align: inherit"></div>
          Vous n'avez pas encore de compte ?
        </div>
        <button
          type="button"
          class="btn btn-signin"
          data-dismiss="modal"
          routerLink="/inscription"
          routerLinkActive="on-click active"
        >
          <b>S'inscrire</b>
        </button>
      </div>
    </div>
    <div style="margin-bottom: 15%"></div>
  </section>
</main>
