<!-- <app-header></app-header> -->
<!-- ==================== accueil ============================= -->
<!-- <router-outlet></router-outlet> -->

<!-- ==================== reservation ============================= -->

<!-- ==================== top destination ============================= -->

<!-- ==================== liste vol ============================= -->

<!-- ==================== contact ============================= -->

<!-- ==================== info client ============================= -->

<!-- ==================== Test inscription ============================= -->
<!-- <app-inscription></app-inscription> -->
<!-- ==================== footer ============================= -->
<!-- <app-footer></app-footer> -->
<app-main-admin></app-main-admin>
