<footer>
  <div id="footerLink" class="padding10">
    <div id="footerAbout">
      <a class="item-tittle-Link" href="">A propos de nous</a>
      <table>
        <tr>
          <td><a class="item" href="">RudyAIR</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Nos valeurs</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Nos collaborations</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Nous contacter</a></td>
        </tr>
      </table>
    </div>
    <div id="footerSAV">
      <a class="item-tittle-Link" href="">Service client</a>
      <table>
        <tr>
          <td><a class="item" href="">Réserver un billet</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Remboursement</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Assistance à la personne</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Services Premium</a></td>
        </tr>
      </table>
    </div>
    <div id="footerPlanifier">
      <a class="item-tittle-Link" href="">Planifier votre voyage</a>
      <table>
        <tr>
          <td><a class="item" href="">Documents Utiles</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Préparer ses bagages</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Parking</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Comment s'enregister</a></td>
        </tr>
      </table>
    </div>
    <div id="footerTrip">
      <a class="item-tittle-Link" href="">Top destinations</a>
      <table>
        <tr>
          <td><a class="item" href="">Toulouse</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Kyoto</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Nosy-be</a></td>
        </tr>
        <tr>
          <td><a class="item" href="">Auckland</a></td>
        </tr>
      </table>
    </div>

    <div id="footerExterneLink" class="">
      <div class="rudyairNetword external-title">
        Suivez-nous sur nos réseaux:<br />
        <span id="rudyairFacebook"
          ><img
            class="icon"
            src="assets/img/icon/fb-gold.png"
            alt="rudy-fb" /><a href=""></a
        ></span>
        <span id="rudyairInsta"
          ><img
            class="icon"
            src="assets/img/icon/insta-gold.png"
            alt="rudy-insta" /><a href=""></a
        ></span>
        <span id="rudyairTwitter"
          ><img
            class="icon"
            src="assets/img/icon/tweet-gold.png"
            alt="rudy-tweet" /><a href=""></a
        ></span>
      </div>
      <div class="external-title">
        Télécharger notre Application:<br />
        <span id="rudyairApple" class="rudyairApp"
          ><img
            width="120px"
            height="40px"
            src="assets/img/applestore.png"
            alt="apple"
        /></span>
        <span id="rudyairGoogle" class="rudyairApp"
          ><img
            width="120px"
            height="40px"
            src="assets/img/googlestore.png"
            alt="google"
        /></span>
      </div>
    </div>
  </div>

  <div id="footerCopyright">
    <a href="" target="_blank">
      &copy; Copyright - 2022 - <span>RudyAIR</span>
    </a>
  </div>
</footer>
