<section>
  <form [formGroup]="rechercheForm" (ngSubmit)="rechercher()">
    <div id="booking" class="section">
      <div class="section-center">
        <div class="mycontainer">
          <div class="myrow">
            <div class="booking-form">
              <div class="form-group">
                <h3
                  class="d-flex justify-content-center form-control"
                  style="
                    color: white;
                    font-size: 32px;
                    background-color: var(--color-gold);
                  "
                >
                  RudyAIR - The wings of freedom
                </h3>
                <div class="form-checkbox">
                  <label for="aller-simple">
                    <input
                      type="radio"
                      id="aller-simple"
                      name="flight-type"
                      checked
                    />
                    <span></span>Aller-simple
                  </label>
                  <label for="aller-retour">
                    <input type="radio" id="aller-retour" name="flight-type" />
                    <span></span>Aller-retour
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Départ de *</span>
                    <input
                      [(ngModel)]="villeDepart"
                      formControlName="departCtrl"
                      class="form-control"
                      type="text"
                      placeholder="Ville"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Arrivée à *</span>
                    <input
                      [(ngModel)]="villeArrivee"
                      formControlName="arriveeCtrl"
                      class="form-control"
                      type="text"
                      placeholder="Ville"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <span class="form-label">Date d'aller</span>
                    <input
                      [(ngModel)]="dateDepart"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                      type="date"
                      required
                    />
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <div class="form-group">
                    <span class="form-label">Date de retour</span>
                    <input class="form-control" type="date" required />
                  </div>
                </div> -->
                <div class="col-md-2">
                  <div class="form-group">
                    <span class="form-label">Animaux</span>
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <span class="form-label">Bagages</span>
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <span class="form-label">Cabine</span>
                    <select class="form-control">
                      <option>Economy</option>
                      <option>Business</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-btn">
                    <button
                      (click)="saveRechercheParms()"
                      routerLink="/liste-recherche-vol"
                      routerLinkActive="active"
                      type="submit"
                      class="submit-btn"
                    >
                      Chercher
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
