.marges-form {
  width: 80%;
  background: #fff;
  border: 0.5px solid #ccc;
  padding: 25px;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 5%;
  margin-left: 150px;
  margin-right: 150px;
}
