<main>
  <div style="margin-bottom: 25%">
    <div class="d-flex justify-content-center" style="margin-bottom: 10%">
      <div class="div-table-format" style="margin-top: 6%; z-index: 100">
        <div>
          <h2 style="color: white">
            Tableau des vols du {{ format(currentDate) }}
          </h2>
        </div>
        <table class="table table-striped table-bordered">
          <thead class="thead-sticky bg-light">
            <tr>
              <th scope="col" rowspan="2" class="text-center align-middle">
                Prix €
              </th>
              <th scope="col" colspan="4" class="text-center align-middle">
                Départ
              </th>
              <th scope="col" colspan="4" class="text-center align-middle">
                Arrivée
              </th>
              <th
                scope="col"
                colspan="2"
                rowspan="2"
                class="text-center align-middle"
              >
                Réserver
              </th>
            </tr>
            <tr>
              <th scope="col" class="text-center align-middle">Pays</th>
              <th scope="col" class="text-center align-middle">Aéroport</th>
              <th scope="col" class="text-center align-middle">Date</th>
              <th scope="col" class="text-center align-middle">Heure</th>

              <th scope="col" class="text-center align-middle">Pays</th>
              <th scope="col" class="text-center align-middle">Aéroport</th>
              <th scope="col" class="text-center align-middle">Date</th>
              <th scope="col" class="text-center align-middle">Heure</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of filtVols; let i = index">
              <td>{{ v.volGenerique!.prix }}</td>

              <td>{{ v.volGenerique!.aeroportDepart!.ville!.pays }}</td>
              <td>{{ v.volGenerique!.aeroportDepart!.nom }}</td>
              <td>{{ v.dateDepart }}</td>
              <td>{{ v.volGenerique!.horaire!.heureDepart }}</td>

              <td>{{ v.volGenerique!.aeroportArrivee!.ville!.pays }}</td>
              <td>{{ v.volGenerique!.aeroportArrivee!.nom }}</td>
              <td>{{ v.dateArrivee }}</td>
              <td>{{ v.volGenerique!.horaire!.heureArrivee }}</td>

              <td>
                <a class="main-menu-items">Réserver</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
