<section class="margin-top-5 d-flex justify-content-center flex-wrap">
  <div id="parternaire" class="">
    <div class="tittle">Les essentiels du voyage</div>
    <div id="containerParternaire">
      <div class="col">
        <img
          alt="Chauffeur"
          class="publicites"
          src="assets/img/chauffeur.png"
        />
        <br />
        <div class="">Chauffeur</div>
      </div>
      <div class="col">
        <img
          alt="boooking.com"
          class="publicites"
          src="assets/img/booking.png"
        />
        <br />
        <div class="">Booking.com</div>
      </div>
      <div class="col">
        <img
          alt="locationVoiture"
          class="publicites"
          src="assets/img/location.png"
        />
        <br />
        <div class="">Location de voiture</div>
      </div>
    </div>
  </div>
  <!--  ===================== VAINCRE SA PEUR =====================   -->
  <div id="vaincrePeur" class="margin-top-5">
    <div class="tittle">Vaincre sa peur de prendre l'Avion</div>
    <img
      alt="peurAvion"
      class="formation-vol"
      src="assets/img/vaincrePeur.png"
    />
  </div>
</section>
