/* header start*/
header{
  height: 8%;
  background-color: #ffffff;
  font-family: Arial;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
}
/* header end*/

/* logo start*/
#rudyair-logo{
  margin: auto;
  cursor: pointer;
}
.logo-img{
  height:75px;
}
/* logo end*/
