<main>
  <div style="margin-bottom: 35%"></div>
  <div class="d-flex justify-content-center">
    <div class="div-table-format">
      <div>
        <h2>Tableau des vols</h2>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="thead-sticky bg-light">
          <tr>
            <th scope="col" colspan="2" class="text-center align-middle"></th>
            <th scope="col" colspan="4" class="text-center align-middle">
              Départ
            </th>
            <th scope="col" colspan="4" class="text-center align-middle">
              Arrivée
            </th>
            <th scope="col" class="text-center align-middle"></th>
          </tr>
          <tr>
            <th scope="col" class="text-center align-middle">#</th>
            <th scope="col" class="text-center align-middle">Prix</th>
            <th scope="col" class="text-center align-middle">Pays</th>
            <th scope="col" class="text-center align-middle">Aéroport</th>
            <th scope="col" class="text-center align-middle">Date</th>
            <th scope="col" class="text-center align-middle">Heure</th>

            <th scope="col" class="text-center align-middle">Pays</th>
            <th scope="col" class="text-center align-middle">Aéroport</th>
            <th scope="col" class="text-center align-middle">Date</th>
            <th scope="col" class="text-center align-middle">Heure</th>
            <th
              scope="col"
              colspan="2"
              rowspan="2"
              class="text-center align-middle"
            >
              Réserver
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of recherches; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ a.volGenerique!.prix }}</td>
            <td>{{ a.volGenerique!.aeroportDepart!.ville!.pays }}</td>
            <td>{{ a.volGenerique!.aeroportDepart!.nom }}</td>
            <td>{{ a.dateDepart }}</td>
            <td>{{ a.volGenerique!.horaire!.heureDepart }}</td>

            <td>{{ a.volGenerique!.aeroportArrivee!.ville!.pays }}</td>
            <td>{{ a.volGenerique!.aeroportArrivee!.nom }}</td>
            <td>{{ a.dateArrivee }}</td>
            <td>{{ a.volGenerique!.horaire!.heureArrivee }}</td>

            <td>
              <a
                [routerLink]="['/reservation/passager']"
                routerLinkActive="active"
                class="btn btn-warning"
                >Reserver</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
