main {
  display: flex;
  align-items: center;
  background-image: url("/assets/img/wall/cloud-up.jpg");
  background-size: cover;
}

section {
  margin-bottom: 5%;
}

.logo-img-search {
  height: 45px;
}

.vol-timelin {
  height: 100%;
  padding: 0;
}
table {
  border: none;
}

.page-heading {
  margin-top: 15%;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgb(240, 240, 240); /* Choose your own color here */
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgb(255, 255, 255); /* Choose your own color here */
}
