<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Compagnie Aérienne Fictif" name="description">
  <meta content="Billet d'avion, RudyAIR, moins cher, securite, compagnie aérienne, trouver un vol, meilleurs offres ,meilleurs prix, vol direct, achetez billet d'avion,Billet d’avion pas cher Madagascar,billet d’avion pas cher Toulouse,billet d’avion pas cher,site web fictif,reservation,vols,vols France,
  site RudyAIR, site web RudyAIR, SNK, Toulouse, voyages" name="keywords">
  <meta property="og:type" content="Site web" />
  <meta property="og:image" content="asset/img/logo/icon_title2.png" />
  <meta property="og:description" content="Compagnie Aérienne fictif pour un projet d'etude" />
  <title >RudyAir ~ The Wings of Freedom ~</title>
  <!-- <link rel="icon" href="asset/img/logo/icon_title2.png"> -->
  <!-- ==================== Template Main CSS File ============================= -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="css/rudyair.css">

  <!-- ==================== SCRIPT ============================= -->
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BXM7LRWRW5');
  </script>

  <!-- ==================== STYLE ============================= -->
  <style>
  footer{
    position: relative;
    bottom: 0;
  }
  </style>
</head>
<!--  ===================== BODY =====================   -->
<body>
  <!--  ===================== HEADER =====================   -->
  <header>
    <div id="header-content-left">
      <div id="logo"><a href="accueil.html"><img class="logo-img" src="asset/img/icon/logo-icon.png" alt="logo_image"></a></div>
      <div class="menu-burger">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul id="idBurger" class="menu__box">
          <li><a class="menu__item" href="#">Home</a></li>
          <li><a class="menu__item" href="#">About</a></li>
          <li><a class="menu__item" href="#">Team</a></li>
          <li><a class="menu__item" href="#">Contact</a></li>
          <li><a class="menu__item" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>

    <div class="main-menu">
      <ul class="main-menu-box">
        <li><a class="main-menu-items" href="">RESERVER</a></li>
        <li><a class="main-menu-items" href="">GERER</a></li>
        <li><a class="main-menu-items" href="">ENREGISTREMENT</a></li>
        <li><a class="main-menu-items" href="">BUSINESS</a></li>
        <li><a class="main-menu-items" href="">INFORMATIONS</a></li>
      </ul>
    </div>

    <div id="login">
      <!-- Button to open the modal login form -->
      <button class="btn-login" onclick="document.getElementById('id01').style.display='block'" >
        <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
      </button>
      <!-- The Modal -->
      <div id="id01" class="modal" role="menu">
        <div class="modal-content modal-animate" role="menu" action="/login.html">
          <div class="modal-header">
            <h2 class="modal-title"><font style="vertical-align: inherit; ">Connectez-vous sur RudyAIR</font>
            </h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="login"><b>Login</b></label>
              <input type="email" placeholder="Entrez votre adresse mail" name="login" required>
              <label for="mdp"><b>Mot de passe</b></label>
              <input type="password" placeholder="Entrez votre mot de passe" name="mdp" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn-login" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
              </button>
              <label >
                <input type="checkbox"  name="remember">Rester connecté<span class="mdp"><a href="#">Mot de passe oublié ?</a></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-modal-footer" ><font style="vertical-align: inherit;">Vous n'avez pas encore de compte ? </font>
              <button type="button" class="btn-signin" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">S'inscrire</b>
              </button>
              <!-- <span ><a href="#" class="compte" style="vertical-align: inherit;">Créer votre compte</a></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </header>
  <!--  ===================== MAIN =====================   -->
  <main id="main" class="padding10">
    <section>
      <h1>Les meilleurs destinations du mois :</h1>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="display: block;" src="imageCatalogue/mercure.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Mercure, pour être sur de bronzer cet été avec 427 °C à la surface.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imageCatalogue/mars.jpg" data-holder-rendered="true" style="display: block;">
                <div class="card-body">
                  <p class="card-text">Mars, pour excursion le temps d'un week-end.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imageCatalogue/jupiter.jpg" data-holder-rendered="true" style="display: block;">
                <div class="card-body">
                  <p class="card-text">Jupiter, pour ne plus avoir de problème de voisinage.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imageCatalogue/dagobah.jpg" data-holder-rendered="true" style="display: block;">
                <div class="card-body">
                  <p class="card-text">Dagobah idéal pour un séjour thermal, prévoyez une moustiqauire.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imageCatalogue/hoth.jpg" data-holder-rendered="true" style="display: block;">
                <div class="card-body">
                  <p class="card-text">Hoth pour faire du ski même au mois de Juillet.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imageCatalogue/etoile_noire.jpg" data-holder-rendered="true" style="display: block;">
                <div class="card-body">
                  <p class="card-text">L'Etoile Noire, une planète pour les gouverner toutes.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Voir les voyages disponibles</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!--  ===================== FOOTER =====================   -->
      <footer>
        <div id="footerLink" class="padding10">
          <div id="footerAbout"><a class="item-tittle-Link" href="">A propos de nous</a>
            <table>
              <tr><td><a class="item" href="">RudyAIR</a></td></tr>
              <tr><td><a class="item" href="">Nos valeurs</a></td></tr>
              <tr><td><a class="item" href="">Nos collaborations</a></td></tr>
              <tr><td><a class="item" href="">Nous contacter</a></td></tr>
            </table>
          </div>
          <div id="footerSAV"><a class="item-tittle-Link" href="">Service client</a>
            <table>
              <tr><td><a class="item" href="">Réserver un billet</a></td></tr>
              <tr><td><a class="item" href="">Remboursement</a></td></tr>
              <tr><td><a class="item" href="">Assistance à la personne</a></td></tr>
              <tr><td><a class="item" href="">Services Prenium</a></td></tr>
            </table>
          </div>
          <div id="footerPlanifier"><a class="item-tittle-Link"  href="">Planifier votre voyage</a>
            <table>
              <tr><td><a class="item" href="">Documents Utiles</a></td></tr>
              <tr><td><a class="item" href="">Préparer ses bagages</a></td></tr>
              <tr><td><a class="item" href="">Parking</a></td></tr>
              <tr><td><a class="item" href="">Comment s'enregister</a></td></tr>
            </table>
          </div>
          <div id="footerTrip"><a class="item-tittle-Link" href="">Top destinations</a>
            <table>
              <tr><td><a class="item" href="">Toulouse</a></td></tr>
              <tr><td><a class="item" href="">Kyoto</a></td></tr>
              <tr><td><a class="item" href="">Nosy-be</a></td></tr>
              <tr><td><a class="item" href="">Auckland</a></td></tr>
            </table>
          </div>

          <div id="footerExterneLink" class="">
            <div class="rudyairNetword external-title" >Suivez-nous sur nos réseaux:<br>
              <span id="rudyairFacebook"><img class="icon" src="asset/img/icon/fb-gold.png" alt="rudy-fb"><a href=""></a></span>
              <span id="rudyairInsta"><img class="icon" src="asset/img/icon/insta-gold.png" alt="rudy-insta"><a href=""></a></span>
              <span id="rudyairTwitter"><img class="icon" src="asset/img/icon/tweet-gold.png" alt="rudy-tweet"><a href=""></a></span>
            </div>
            <div class="external-title">Télécharger notre Application:<br>
              <span id="rudyairApple" class="rudyairApp"><img width="120px" height="40px" src="asset/img/applestore.png" alt=""></span>
              <span id="rudyairGoogle" class="rudyairApp"><img width="120px" height="40px" src="asset/img/googlestore.png" alt=""></span>
            </div>
          </div>
        </div>

        <div id="footerCopyright">
          <a href="" target="_blank"> &copy Copyright - 2022 - <span>RudyAIR</span> </a>
        </div>
      </footer>
    </body>

    <script>
    /*++++++++++++++++++++++++CAROUSSEL++++++++++++++++++++++++++++++*/
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal ) {
        modal.style.display = "none";
      }
    }

  </script>
  </html>
