<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Compagnie Aérienne Fictif" name="description">
  <meta content="Billet d'avion, RudyAIR, moins cher, securite, compagnie aérienne, trouver un vol, meilleurs offres ,meilleurs prix, vol direct, achetez billet d'avion,Billet d’avion pas cher Madagascar,billet d’avion pas cher Toulouse,billet d’avion pas cher,site web fictif,reservation,vols,vols France,
  site RudyAIR, site web RudyAIR, SNK, Toulouse, vols" name="keywords">
  <meta property="og:type" content="Site web" />
  <link rel="icon" href="asset/img/logo/icon_title2.png" />
  <meta property="og:description" content="Compagnie Aérienne fictif pour un projet d'etude" />
  <title >RudyAir ~ The Wings of Freedom ~</title>
  <!-- <link rel="icon" href="asset/img/logo/icon_title2.png"> -->
  <!-- ==================== Template Main CSS File ============================= -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <!-- ==================== Timeline bootstrap ============================= -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="css/rudyair.css">

  <!-- ==================== SCRIPT ============================= -->
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BXM7LRWRW5');
  </script>

  <!-- ==================== STYLE ============================= -->
  <style>
  .margin-10{
    margin-top: 65px;
  }

  .title-h2{
    background-color: var(--color-blue);
  }

  .title-h3{
    background-color: var(--color-gold);
  }

  .card-img-top{
    height: 225px;
  }

  footer{
    position: relative;
    bottom: 0;
  }
  </style>
</head>
<!--  ===================== BODY =====================   -->
<body>
  <!--  ===================== HEADER =====================   -->
  <header>
    <div id="header-content-left">
      <div id="logo"><a href="accueil.html"><img class="logo-img" src="asset/img/icon/logo-icon.png" alt="logo_image"></a></div>
      <div class="menu-burger">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul id="idBurger" class="menu__box">
          <li><a class="menu__item" href="#">Home</a></li>
          <li><a class="menu__item" href="#">About</a></li>
          <li><a class="menu__item" href="#">Team</a></li>
          <li><a class="menu__item" href="#">Contact</a></li>
          <li><a class="menu__item" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>

    <div class="main-menu">
      <ul class="main-menu-box">
        <li><a class="main-menu-items" href="">RESERVER</a></li>
        <li><a class="main-menu-items" href="">GERER</a></li>
        <li><a class="main-menu-items" href="">ENREGISTREMENT</a></li>
        <li><a class="main-menu-items" href="">BUSINESS</a></li>
        <li><a class="main-menu-items" href="">INFORMATIONS</a></li>
      </ul>
    </div>

    <div id="login">
      <!-- Button to open the modal login form -->
      <button class="btn-login" onclick="document.getElementById('id01').style.display='block'" >
        <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
      </button>
      <!-- The Modal -->
      <div id="id01" class="modal" role="menu">
        <div class="modal-content modal-animate" role="menu" action="/login.html">
          <div class="modal-header">
            <h2 class="modal-title"><font style="vertical-align: inherit; ">Connectez-vous sur RudyAIR</font>
            </h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="login"><b>Login</b></label>
              <input type="email" placeholder="Entrez votre adresse mail" name="login" required>
              <label for="mdp"><b>Mot de passe</b></label>
              <input type="password" placeholder="Entrez votre mot de passe" name="mdp" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn-login" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
              </button>
              <label >
                <input type="checkbox"  name="remember">Rester connecté<span class="mdp"><a href="#">Mot de passe oublié ?</a></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-modal-footer" ><font style="vertical-align: inherit;">Vous n'avez pas encore de compte ? </font>
              <button type="button" class="btn-signin" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">S'inscrire</b>
              </button>
              <!-- <span ><a href="#" class="compte" style="vertical-align: inherit;">Créer votre compte</a></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </header>
  <!--  ===================== MAIN =====================   -->
  <main id="main" class="padding10">
    <!--  ===================== CAROUSSEL =====================   -->
    <div class="slideshow-container">
      <div class="mySlides fade-slide">
        <div class="numbertext">1 / 3</div>
        <img class="trip" src="asset/img/trip/toulouse.jpg">
        <div class="text">Toulouse <br>- La ville rose -</div>
      </div>

      <div class="mySlides fade-slide">
        <div class="numbertext">2 / 3</div>
        <img class="trip" src="asset/img/trip/nosybe.jpg">
        <div class="text">Nosy-be <br>- Madagascar island -</div>
      </div>

      <div class="mySlides fade-slide">
        <div class="numbertext">3 / 3</div>
        <img class="trip" src="asset/img/trip/kyoto.jpg">
        <div class="text">Kyoto <br>- Terre de sakura -</div>
      </div>

      <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

    </div>
    <section class="">
    <h2 class="title-h3 d-flex justify-content-center"> Meilleurs destinations du moment </h2>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="display: block;" src="asset/img/trip/toulouse-france.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Toulouse - France. Voyez la vie en Rose en toute simplicité.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 59€</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="asset/img/trip/kyoto-japan.jpg" data-holder-rendered="true" style="display: block;">
              <div class="card-body">
                <p class="card-text">Kyoto - Japon. Admirez les cerisiers en fleur pour ce printemps 2022.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 730€</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="asset/img/trip/nosy-be.jpg" data-holder-rendered="true" style="display: block;">
              <div class="card-body">
                <p class="card-text">Nosy-Be - Madagascar. Sable fin et mer turqoise, plage magnifique.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 699€</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="asset/img/trip/auckland.jpg" data-holder-rendered="true" style="display: block;">
              <div class="card-body">
                <p class="card-text">Auckland - Nouvelle-Zélande. Partez à la découverte de la Terre du Milieu.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 699€</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="asset/img/trip/los-angeles.jpg" data-holder-rendered="true" style="display: block;">
              <div class="card-body">
                <p class="card-text">Los Angeles USA. Distination idéale pour les amoureux du 7éme Art.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 549€</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="asset/img/trip/kilimandjaro.jpg" data-holder-rendered="true" style="display: block;">
              <div class="card-body">
                <p class="card-text">Arusha Tanzanie. Comptemplez l'immensité du Mont Kilimandjaro.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir toutes nos destinations</button>
                  </div>
                  <small class="text-muted">* à partir de 900€</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--  ===================== FOOTER =====================   -->
    <footer>
      <div id="footerLink" class="padding10">
        <div id="footerAbout"><a class="item-tittle-Link" href="">A propos de nous</a>
          <table>
            <tr><td><a class="item" href="">RudyAIR</a></td></tr>
            <tr><td><a class="item" href="">Nos valeurs</a></td></tr>
            <tr><td><a class="item" href="">Nos collaborations</a></td></tr>
            <tr><td><a class="item" href="">Nous contacter</a></td></tr>
          </table>
        </div>
        <div id="footerSAV"><a class="item-tittle-Link" href="">Service client</a>
          <table>
            <tr><td><a class="item" href="">Réserver un billet</a></td></tr>
            <tr><td><a class="item" href="">Remboursement</a></td></tr>
            <tr><td><a class="item" href="">Assistance à la personne</a></td></tr>
            <tr><td><a class="item" href="">Services Prenium</a></td></tr>
          </table>
        </div>
        <div id="footerPlanifier"><a class="item-tittle-Link"  href="">Planifier votre voyage</a>
          <table>
            <tr><td><a class="item" href="">Documents Utiles</a></td></tr>
            <tr><td><a class="item" href="">Préparer ses bagages</a></td></tr>
            <tr><td><a class="item" href="">Parking</a></td></tr>
            <tr><td><a class="item" href="">Comment s'enregister</a></td></tr>
          </table>
        </div>
        <div id="footerTrip"><a class="item-tittle-Link" href="">Top destinations</a>
          <table>
            <tr><td><a class="item" href="">Toulouse</a></td></tr>
            <tr><td><a class="item" href="">Kyoto</a></td></tr>
            <tr><td><a class="item" href="">Nosy-be</a></td></tr>
            <tr><td><a class="item" href="">Auckland</a></td></tr>
          </table>
        </div>

        <div id="footerExterneLink" class="">
          <div class="rudyairNetword external-title" >Suivez-nous sur nos réseaux:<br>
            <span id="rudyairFacebook"><img class="icon" src="asset/img/icon/fb-gold.png" alt="rudy-fb"><a href=""></a></span>
            <span id="rudyairInsta"><img class="icon" src="asset/img/icon/insta-gold.png" alt="rudy-insta"><a href=""></a></span>
            <span id="rudyairTwitter"><img class="icon" src="asset/img/icon/tweet-gold.png" alt="rudy-tweet"><a href=""></a></span>
          </div>
          <div class="external-title">Télécharger notre Application:<br>
            <span id="rudyairApple" class="rudyairApp"><img width="120px" height="40px" src="asset/img/applestore.png" alt=""></span>
            <span id="rudyairGoogle" class="rudyairApp"><img width="120px" height="40px" src="asset/img/googlestore.png" alt=""></span>
          </div>
        </div>
      </div>

      <div id="footerCopyright">
        <a href="" target="_blank"> &copy Copyright - 2022 - <span>RudyAIR</span> </a>
      </div>
    </footer>
  </body>

  <script>
  /*++++++++++++++++++++++++ CAROUSSEL ++++++++++++++++++++++++++++++*/
  var slideIndex = 1;
  showSlides(slideIndex);
  autoSlides();

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (var i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";

  }
  /*++++++++++++++++++++++++ CAROUSSEL AUTO ++++++++++++++++++++++++++++++*/
  function autoSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(autoSlides, 4000); // Change image every 2 seconds
  }
  /*++++++++++++++++++++++++ LOGIN ++++++++++++++++++++++++++++++*/
  var modal = document.getElementById('id01');
  var burger = document.getElementById('idBurger');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal ) {
      modal.style.display = "none";
    }
  }
  </script>
  </html>
