<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Compagnie Aérienne Fictif" name="description">
  <meta content="Billet d'avion, RudyAIR, moins cher, securite, compagnie aérienne, trouver un vol, meilleurs offres ,meilleurs prix, vol direct, achetez billet d'avion,Billet d’avion pas cher Madagascar,billet d’avion pas cher Toulouse,billet d’avion pas cher,site web fictif,reservation,vols,vols France,
  site RudyAIR, site web RudyAIR, SNK, Toulouse, vols" name="keywords">
  <meta property="og:type" content="Site web" />
  <link rel="icon" href="asset/img/logo/icon_title2.png" />
  <meta property="og:description" content="Compagnie Aérienne fictif pour un projet d'etude" />
  <title >RudyAir ~ The Wings of Freedom ~</title>
  <!-- <link rel="icon" href="asset/img/logo/icon_title2.png"> -->
  <!-- ==================== Template Main CSS File ============================= -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <!-- ==================== SCRIPT ============================= -->
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BXM7LRWRW5');
  </script>

  <!-- ==================== STYLE ============================= -->
  <style>
  main{
    display: flex;
    align-items: center;
    background-image: url('../templates/asset/img/wall/cloud-up.jpg');
    background-size: cover;
  }

  .page-heading{
    margin-top: 15%;
  }

  #planVol
  footer{
    position: absolute;
    bottom: 0;
  }

  </style>
</head>
<!--  ===================== BODY =====================   -->
<bw-itinerary-summary-row
class="bw-summary-details__connection qa-search-summary-connection bw-itinerary-summary-row"
><bws-itinerary-times
class="bw-itinerary-summary-row__times bws-itinerary-times"
><bws-flight-times class="bws-flight-times"
><time
class="bws-flight-times__day-and-time bwc-o-body-variant ng-star-inserted"
>
Fri 18 Mar 2022 </time
><!----><span class="bwc-o-body-variant ng-star-inserted"
><time>07:15</time> - <time>08:35</time
  ><!----></span
  ><!----></bws-flight-times
  ></bws-itinerary-times
  ><!----><bws-flight-itinerary-locations
  class="bw-itinerary-summary-row__locations bws-flight-itinerary-locations"
  ><bws-flight-locations class="bws-flight-itinerary-locations-info"
  ><ol class="bws-flight-locations__origin-container bwc-o-body">
    <li
    class="bws-flight-locations__node bws-flight-locations__node--dot bws-flight-locations__node--extra-spacing"
    >
    <strong _ngcontent-server-app-c298="">Paris</strong> (CDG)
  </li>
  <!----><!---->
  <li class="bws-flight-locations__node bws-flight-locations__node--dot">
    <strong _ngcontent-server-app-c298="">Toulouse</strong> (TLS)
  </li>
</ol></bws-flight-locations
></bws-flight-itinerary-locations
><bw-itinerary-operator-information
displaymode="inline"
class="bw-itinerary-summary-row__operator-information"
><bws-flight-operators
class="bw-itinerary-row__operator-information bws-flight-operators--inline bws-flight-operators"
><!----><span class="ng-star-inserted"
><bwc-carrier-logo
class="bws-flight-operators__logo bwc-carrier-logo"
aria-label="Paris to Toulouse, AF7516 operated by Air France"
><img
class="bwc-carrier-logo bwc-carrier-logo--AF"
alt="Air France"
src="https://www.static-af.com/assets/components/26.0.0/af/logo/airline-logo-af.svg" /></bwc-carrier-logo></span
><!----><!----><!----><!----><span
class="bws-flight-operators__flight-number bwc-o-body ng-star-inserted"
><span>AF7516</span></span
><!----></bws-flight-operators
></bw-itinerary-operator-information
>
<div class="bw-itinerary-summary-row__price-wrapper ng-star-inserted">
  <bw-price
  data-test="bwsfe-summary-row__price"
  class="bwc-o-body-variant ng-star-inserted"
  ><span>EUR&nbsp;212,23</span
    ><!----></bw-price
    ><!---->
  </div>
  <div class="bw-itinerary-summary-row__edit-wrapper ng-star-inserted">
    <button
    mat-button=""
    type="button"
    data-test="bwsfe-summary-row__change-flight-button"
    class="mat-focus-indicator bwc-o-button mat-button mat-button-base"
    aria-haspopup="true"
    aria-label="Change outbound flight"
    >
    <span class="mat-button-wrapper"
    ><span aria-hidden="true">Change</span></span
    ><span matripple="" class="mat-ripple mat-button-ripple"></span
      ><span class="mat-button-focus-overlay"></span>
    </button>
  </div>
  <!----><!----><!----></bw-itinerary-summary-row
  >

</body>

<script>
/*++++++++++++++++++++++++CAROUSSEL++++++++++++++++++++++++++++++*/
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal ) {
    modal.style.display = "none";
  }
}

</script>
</html>
