<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Compagnie Aérienne Fictif" name="description">
  <meta content="Billet d'avion, RudyAIR, moins cher, securite, compagnie aérienne, trouver un vol, meilleurs offres ,meilleurs prix, vol direct, achetez billet d'avion,Billet d’avion pas cher Madagascar,billet d’avion pas cher Toulouse,billet d’avion pas cher,site web fictif,reservation,vols,vols France,
  site RudyAIR, site web RudyAIR, SNK, Toulouse, voyages" name="keywords">
  <meta property="og:type" content="Site web" />
  <link rel="icon" href="asset/img/logo/icon_title2.png" />
  <meta property="og:description" content="Compagnie Aérienne fictif pour un projet d'etude" />
  <title >RudyAir ~ The Wings of Freedom ~</title>
  <!-- <link rel="icon" href="asset/img/logo/icon_title2.png"> -->
  <!-- ==================== Template Main CSS File ============================= -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <!-- ==================== Timeline bootstrap ============================= -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="css/rudyair.css">

  <!-- ==================== SCRIPT ============================= -->
  <script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-BXM7LRWRW5');
  </script>

  <!-- ==================== STYLE ============================= -->
  <style>
  main{
    display: flex;
    align-items: center;
    background-image: url('../templates/asset/img/wall/cloud-up.jpg');
    background-size: cover;
  }

  div.clearfix{
    margin-bottom: 0px;
  }

  .page-heading{
    margin-top: 15%;
    background-color: var(--color-blue);
    color:white;
  }

  form {
    display: block;
    margin-top: 0em;
  }

  .box {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #888;
  }
  .radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
  .required span, .required sup {
    color: #ff0000;
  }

  div {
    display: block;
  }
  .icon-chevron-right:before {
    content: &#10094;
  }
  .pull-right{
    float: right;
  }

  footer{
    position: relative;
    bottom: 0;
  }
  </style>
</head>
<!--  ===================== BODY =====================   -->
<body>
  <!--  ===================== HEADER =====================   -->
  <header>
    <div id="header-content-left">
      <div id="logo"><a href="accueil.html"><img class="logo-img" src="asset/img/icon/logo-icon.png" alt="logo_image"></a></div>
      <div class="menu-burger">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul id="idBurger" class="menu__box">
          <li><a class="menu__item" href="#">Home</a></li>
          <li><a class="menu__item" href="#">About</a></li>
          <li><a class="menu__item" href="#">Team</a></li>
          <li><a class="menu__item" href="#">Contact</a></li>
          <li><a class="menu__item" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>

    <div class="main-menu">
      <ul class="main-menu-box">
        <li><a class="main-menu-items" href="">RESERVER</a></li>
        <li><a class="main-menu-items" href="">GERER</a></li>
        <li><a class="main-menu-items" href="">ENREGISTREMENT</a></li>
        <li><a class="main-menu-items" href="">BUSINESS</a></li>
        <li><a class="main-menu-items" href="">INFORMATIONS</a></li>
      </ul>
    </div>

    <div id="login">
      <!-- Button to open the modal login form -->
      <button class="btn-login" onclick="document.getElementById('id01').style.display='block'" >
        <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
      </button>
      <!-- The Modal -->
      <div id="id01" class="modal" role="menu">
        <div class="modal-content modal-animate" role="menu" action="/login.html">
          <div class="modal-header">
            <h2 class="modal-title"><font style="vertical-align: inherit; ">Connectez-vous sur RudyAIR</font>
            </h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="login"><b>Login</b></label>
              <input type="email" placeholder="Entrez votre adresse mail" name="login" required>
              <label for="mdp"><b>Mot de passe</b></label>
              <input type="password" placeholder="Entrez votre mot de passe" name="mdp" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn-login" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">Se&nbspconnecter</b>
              </button>
              <label >
                <input type="checkbox"  name="remember"> Rester connecté<span class="mdp"><a href="#">Mot de passe oublié ?</a></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-modal-footer" ><font style="vertical-align: inherit;">Vous n'avez pas encore de compte ? </font>
              <button type="button" class="btn-signin" data-dismiss="modal">
                <b style="display: flex;justify-content: center;">S'inscrire</b>
              </button>
              <!-- <span ><a href="#" class="compte" style="vertical-align: inherit;">Créer votre compte</a></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </header>
  <!--  ===================== MAIN =====================   -->
  <main id="main" class="padding10">
    <section>
      <h1 class="page-heading padding10 d-flex justify-content-center align-content-center">Créez votre compte</h1>
      <form action="/creercompte" method="post" id="account-creation_form" class="std box">
        <div class="account_creation">
          <h3 class="page-subheading">Vos informations personnelles</h3>
          <div class="clearfix form-group">
            <label class="hidden-xs">Titre</label><br>
            <div class="radio-inline">
              <label for="id_gender1" class="top">
                <input type="radio" name="id_gender" id="id_gender1" value="1"> M
              </label>
            </div>
            <div class="radio-inline">
              <label for="id_gender2" class="top">
                <input type="radio" name="id_gender" id="id_gender2" value="2"> Mme
              </label>
            </div>
            <div class="radio-inline">
              <label for="id_gender" class="top">
                <input type="radio" name="id_gender" id="id_gender3" value="3"> Autre
              </label>
            </div>
          </div>
          <div class="required form-group">
            <label for="customer_firstname" class="hidden-xs">Prénom
              <sup>*</sup>
            </label> <input type="text" class="is_required validate form-control" data-validate="isName" id="customer_firstname" name="customer_firstname" value="" placeholder="Prénom*">
          </div>
          <div class="required form-group">
            <label for="customer_lastname" class="hidden-xs">Nom <sup>*</sup>
            </label> <input type="text" class="is_required validate form-control" data-validate="isName" id="customer_lastname" name="customer_lastname" value="" placeholder="Nom*">
          </div>
          <div class="required form-group">
            <label for="email" class="hidden-xs">E-mail <sup>*</sup>
            </label> <input type="emal" class="is_required validate form-control" data-validate="isEmail" id="email" name="email" placeholder="Adresse e-mail" value="">
          </div>
          <div class="required password form-group">
            <label for="passwd" class="hidden-xs">Mot de passe <sup>*</sup>
            </label> <input type="password" class="is_required validate form-control" data-validate="isPasswd" name="passwd" id="passwd" placeholder="Mot de passe*">
            <span class="form_info">(5 caractères min.)</span>
          </div>
          <div class="form-group">
            <label class="hidden-xs">Date de naissance
            </label> <input type="date" class="form-control" name="date-de-naissance" required placeholder="Saisir la date de depart" value="" >
          </div>
        </div>
        <div class="checkbox">
          <label for="newsletter">
            <input type="checkbox" name="newsletter" id="newsletter" value="1"> S'inscrire à la newsletter
          </label>
        </div>
        <div class="submit clearfix">
          <input type="hidden" name="email_create" value="1">
          <input type="hidden" name="is_new_customer" value="1">
          <input type="hidden" class="hidden" name="back" value="my-account">
          <button type="submit" name="submitAccount" id="submitAccount" class="btn btn-login btn-default button button-medium">
            <span>S'inscrire &#10095; <i class="icon-chevron-right right"></i>
            </span>
          </button>
          <p class="pull-right required"><span><sup>*</sup>Champ requis</span>  </p>
        </div>
      </form>
    </section>
  </main>
  <!--  ===================== FOOTER =====================   -->
  <footer>
    <div id="footerLink" class="padding10">
      <div id="footerAbout"><a class="item-tittle-Link" href="">A propos de nous</a>
        <table>
          <tr><td><a class="item" href="">RudyAIR</a></td></tr>
          <tr><td><a class="item" href="">Nos valeurs</a></td></tr>
          <tr><td><a class="item" href="">Nos collaborations</a></td></tr>
          <tr><td><a class="item" href="">Nous contacter</a></td></tr>
        </table>
      </div>
      <div id="footerSAV"><a class="item-tittle-Link" href="">Service client</a>
        <table>
          <tr><td><a class="item" href="">Réserver un billet</a></td></tr>
          <tr><td><a class="item" href="">Remboursement</a></td></tr>
          <tr><td><a class="item" href="">Assistance à la personne</a></td></tr>
          <tr><td><a class="item" href="">Services Premium</a></td></tr>
        </table>
      </div>
      <div id="footerPlanifier"><a class="item-tittle-Link"  href="">Planifier votre voyage</a>
        <table>
          <tr><td><a class="item" href="">Documents Utiles</a></td></tr>
          <tr><td><a class="item" href="">Préparer ses bagages</a></td></tr>
          <tr><td><a class="item" href="">Parking</a></td></tr>
          <tr><td><a class="item" href="">Comment s'enregister</a></td></tr>
        </table>
      </div>
      <div id="footerTrip"><a class="item-tittle-Link" href="">Top destinations</a>
        <table>
          <tr><td><a class="item" href="">Toulouse</a></td></tr>
          <tr><td><a class="item" href="">Kyoto</a></td></tr>
          <tr><td><a class="item" href="">Nosy-be</a></td></tr>
          <tr><td><a class="item" href="">Auckland</a></td></tr>
        </table>
      </div>

      <div id="footerExterneLink" class="">
        <div class="rudyairNetword external-title" >Suivez-nous sur nos réseaux:<br>
          <span id="rudyairFacebook"><img class="icon" src="asset/img/icon/fb-gold.png" alt="rudy-fb"><a href=""></a></span>
          <span id="rudyairInsta"><img class="icon" src="asset/img/icon/insta-gold.png" alt="rudy-insta"><a href=""></a></span>
          <span id="rudyairTwitter"><img class="icon" src="asset/img/icon/tweet-gold.png" alt="rudy-tweet"><a href=""></a></span>
        </div>
        <div class="external-title">Télécharger notre Application:<br>
          <span id="rudyairApple" class="rudyairApp"><img width="120px" height="40px" src="asset/img/applestore.png" alt=""></span>
          <span id="rudyairGoogle" class="rudyairApp"><img width="120px" height="40px" src="asset/img/googlestore.png" alt=""></span>
        </div>
      </div>
    </div>

    <div id="footerCopyright">
      <a href="" target="_blank"> &copy Copyright - 2022 - <span>RudyAIR</span> </a>
    </div>
  </footer>
</body>

<script>
/*++++++++++++++++++++++++CAROUSSEL++++++++++++++++++++++++++++++*/
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal ) {
    modal.style.display = "none";
  }
}

</script>
</html>
