<div id="contente-without-footer">
  <header>
    <div id="header-content-left">
      <div id="logo">
        <a routerLink="/accueil" routerLinkActive="active"
          ><img
            class="logo-img"
            src="assets/img/icon/logo-icon.png"
            alt="logo_image"
        /></a>
      </div>
    </div>

    <div class="main-menu">
      <ul class="main-menu-box">
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/ville"
            routerLinkActive="active"
            >VILLE</a
          >
        </li>
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/aeroport"
            routerLinkActive="active"
            >AEROPORT</a
          >
        </li>

        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/avion"
            routerLinkActive="active"
            >AVION</a
          >
        </li>
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/volGenerique"
            routerLinkActive="active"
            >VOL&nbsp;GENERIQUE</a
          >
        </li>
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/vol"
            routerLinkActive="active"
            >VOL</a
          >
        </li>
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/compteClient"
            routerLinkActive="active"
            >COMPTE</a
          >
        </li>
        <li>
          <a
            class="main-menu-items"
            routerLink="/admin/reservation"
            routerLinkActive="active"
            >RESERVATION</a
          >
        </li>
      </ul>
    </div>
    <!-- TODO: Modifier action se deconnecter -->
    <div id="login">
      <button
        (click)="logout()"
        class="btn btn-login"
        routerLink="/sedeconnecter"
        routerLinkActive="active"
      >
        <b style="display: flex; justify-content: center"
          >Se&nbsp;deconnecter</b
        >
      </button>
    </div>
  </header>

  <div class="router-div_position"></div>
</div>
